@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
  
}
body {
    font-family: 'Inter' !important ;
}
.nav-link{
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #0D0A19;
}
.SignUP img {
    background: #F5F6F7;
    border-radius: 10px;
    height: 25px;
    width: 30px;
    padding: 5px 8px;
    margin-right: 5px;
   
}
.nav-link {
    margin-left: 20px;
}
.section1 {
  background-image: url(/image/Rectangle.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height:  560px;
}
.section1 h1 {
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 74px;
 

text-align: center;
letter-spacing: -0.304762px;

color: #FFFFFF;
padding-top: 100px;
}
.section1p {
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
/* or 135% */

text-align: center;

color: #FFFFFF;
margin-top: 15px;
}
.top-footer-section {
    background: #FFFFFF;
box-shadow: 0px 3px 4px rgba(153, 155, 168, 0.15);
border-radius: 8px;
max-width: 945px;
height: 80px;
position: absolute;
margin: 0px auto;
bottom: 10px;
left: 50%;
z-index: 99;
width: 98%;
transform: translateX(-50%);
}
.top-footer-section p {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
letter-spacing: -0.1px;
color: #9A9EA7;
margin-left: 10px;

}
.form-select {
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 21px;
letter-spacing: -0.1px;
color: #0D0A19;
border: none !important;
margin-top: -15px;
}
.Withoutp {
    margin-top: 27px;
}
.search-icon {
    font-family: 'Material Icons';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
text-align: center;
color: #FFFFFF;
}
.header-btn {
    background: #7963F0;
border-radius: 10px;
padding: 7px 15px;
font-weight: 700;

font-family: 'Inter';
font-style: normal;
font-size: 14px;
line-height: 21px;
letter-spacing: -0.1px;
color: #FFFFFF;
}
.header-btn img {
    margin-top: -3px;
}
.border-right {
    border-right: 1px solid #EDE8E9;
    height: 40px;
    margin-top: 20px;
    
}
 .section2 {
    margin-bottom: 100px;
    margin-top: 120px;
 }
.section3 h3{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 36px;
letter-spacing: -0.1px;
color: #0D0A19;
margin-bottom: 50px;
}
.section3 h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #0D0A19; 
    margin-top: 10px; 
}

.section3 p {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
letter-spacing: -0.1px;
color: #9A9EA7;
}
.btn-1 {
    background: #EDE8E9;
    border-radius: 8px !important;
    font-family: 'Inter';
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 21px !important;
    text-align: center !important;
    letter-spacing: -0.1px !important;
    
    color: #7963f0;
      
    
}
.btn-2 {
    background: #f5f6f7 !important;
    border-radius: 8px !important;
    font-family: 'Inter';
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 21px !important;
    text-align: center !important;
    letter-spacing: -0.1px !important;
    
    color: #9a9ea7 !important;
    
}
.card {
    border: none !important;
}
/* section 4 area */
.Findcardheader {
    display: flex;
    justify-content: space-between;
    padding: 20px; 
    margin-bottom: 70px;

}
.section4 {
    margin-top: 100px;
    margin-bottom: 100px;
}
.findcar {
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 36px;
letter-spacing: -0.1px;
color: #0D0A19;
}

.arrowarea {
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
text-align: right;
color: #9A9EA7;
}
header p span {
    margin: 0px 5px;
    width: 30px;
    height: 30px;
    padding: 10px !important;
   
}
.arrowarea img {
    background: #F5F6F7;
    border-radius: 10px;
}
.arrowarea {
    margin-top: 15px;
}
/* section causuel  */
 .sedan {
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;

color: #0D0A19;
 }
 .probtn {
     font-family: 'Inter';
    background: #f5f6f7 !important;
    border-radius: 8px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 14px !important;
    line-height: 18px !important;
    text-align: center !important;
    letter-spacing: -0.1px !important;
    
    color: #7963f0 !important;
 }
 .probtn1 {
    font-family: 'Inter';
   border-radius: 8px !important;
   font-style: normal !important;
   font-weight: 700 !important;
   font-size: 14px !important;
   line-height: 18px !important;
   text-align: center !important;
   letter-spacing: -0.1px !important;
   background: #F5F6F7;
   color: #9A9EA7 !important;
}
.product {
    left: 0px;
    min-width: 24%;
    position: relative;
    margin: 0 20px 50px 0px;
    border-radius: 20px;
    transition: 0.5s;

} 
@media all and (max-width:767px){
    .section1 h1 {
        font-size: 34px;
    }
    .section1p {
        font-size: 16px;
    }
    .top-footer-section {
        height: 100px;
    }
    .header-btn {
        width: 95%;
        padding: 17px 0px;
        margin: auto;
    }
    .section2 {
        margin-top: 320px;

    }
    .section2 img {
        margin-top: 20px;
        
    }

}